@model DigitalXWebsite.ServiceReference.Address

@{
    ViewBag.Title = "CreateAddress";
}

<h2>CreateAddress</h2>

@using (Html.BeginForm())
{
    @Html.Action("PartialRegisterAddress", "Account")
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
            <button type="button" id="cancel-button" class="btn btn-default" onclick="location.href='@Url.Action("Checkout", new { quantity = new List<int>(), @class = "my-links" })'">Cancel</button>
        </div>
    </div>
    <br />
}
    <br />